<div class="build-history">
  {{load}}
  {{#if isLoading}}
    {{loading-indicator inline=true}}
  {{else}}
    <div class="svg-container">
      {{{draw}}}
    </div>
  {{/if}}
</div>
{{#if isLoading}}
  {{loading-indicator inline=true}}
{{else}}
  <div class="builds-running">
    There are currently {{buildsRunning}} builds running.
  </div>
{{/if}}
