{{load}}
{{#if isLoading}}
  {{loading-indicator inline=true}}
{{else}}
  <div class="streak-item">
    <h2 class="small-title">Days passing</h2>
    <emph>{{streak.days}}</emph><br/>
    {{suffix streak.builds "build"}} during these days
  </div>
  <div class="streak-item">
    <h2 class="small-title">Builds</h2>
    <emph>{{history.builds}}</emph><br/>
    in the last 30 days
  </div>
  <div class="streak-item">
    <h2 class="small-title">Build Minutes</h2>
    <emph>{{seconds-to-minutes history.seconds}}</emph><br/>
    in the last 30 days
  </div>
{{/if}}
